<!--Home landing page-->

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br />
    <p>This website allows you to keep track of all the tasks you need to complete!</p><br />
    <hX>Features include:</hX>
</div>
<div class="container">
    <ul class="myUL">
        <li>View your current tasks</li>
        <li>Tasks sorted based on the Steven Covey Priority Matrix</li>
        <li>Add more tasks</li>
        <li>Check off tasks as you complete them</li>
    </ul>
    <br />
    <img width="450" src="~/img/Steven_Covey_priority_matrix.png" />
</div>

<style>
    div.container {
        text-align: center;
    }

    ul.myUL {
        display: inline-block;
        text-align: left;
    }
</style>